body {margin:0;padding:0;}
header {padding: 25px 25px;background: #eee;text-align: center;}
h1 {font-size: 24px;line-height: 1;}
main {padding: 25px 25px;background: #fff;}
footer {text-align: center;}